<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#4fbcbd" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/main.css" rel="stylesheet">
    <title>DOTXCEL</title>
</head>
<body>
    <div class="header">
        <div class="quote">Life Is Short, Use Python</div>
        <div class="title">Dotxcel.xlsx - Excel</div>
        <div class="right_pannel">
            <div class="git">github</div>
            <div class="dscrp">How</div>
        </div>
    </div>
    <div class="content">
        <img src="static/images/result.png" alt="">
        <form action="./" method="post" enctype="multipart/form-data">
            <div class="image_form">
                    <label>Upload Image</label>
                    <input type="file" name="image" accept='image/png,image/jpeg,image/jpg'>
                    <input type="number" name="color">
                    <input type="number" name="size">
            </div>
            <button type="submit" class="submit_btn">Convert</button>

        </form>
    </div>
</body>
</html>